In [2]:
from platform import python_version
print(python_version())

3.11.3

In [6]:
# print()
print("Hellow")

Hellow

In [7]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [10]:
print("I LOVE MY INDIA ")

I LOVE MY INDIA

In [11]:
a=50
b=12
print(a+b)

62

In [19]:
print(10,20,30)

10 20 30

In [20]:
x=input("Ente Your Number :")

Ente Your Number :10

In [37]:
name=input("please Enter student name :")
n=input("Enter Your Enrollment No. :")
print(name,"  ",n)

please Enter student name :Ankush Gupta
Enter Your Enrollment No. :0187AS221010
Ankush Gupta    0187AS221010

In [36]:
n1=input("Enter first Number :")
n2=input("Enter second Number :")
print("The sum of Two Number is :",int(n1)+int(n2))

Enter first Number :10
Enter second Number :20
The sum of Two Number is : 30

In [47]:
n1=int(input("Enter first Number :"))
n2=int(input("Enter first Number :"))
n3=int(input("Enter first Number :"))
print("The Average of number is :")
print((n1+n2+n3)/3)

Enter first Number :20
Enter first Number :10
Enter first Number :10
The Average of number is :
13.333333333333334

In [56]:
# sep (seprator)

print(12,12,sep="?")

12?12

In [59]:
print("Ankush Gupta")
print()  #  also give new line
print("Ankush\nGupta")

Ankush Gupta

Ankush
Gupta

In [64]:
print("\"Ankush Gupa\"")
print()
print('"AnkushGupta"')

"Ankush Gupa"

"AnkushGupta"

In [67]:
x=20     # int varible assign
print(x)     # print  assign value
print(id(x))     # address of varible assign
print(type(x))    # type of varible class

20
140736315889032
<class 'int'>

In [68]:
x=0b100  # default value of decimal
print(x)
print(id(x))
print(type(x))

4
140736315888520
<class 'int'>

In [69]:
x=0b100
print(x)
print(bin(x))  #convert into binary
print(id(x))
print(type(x))

4
0b100
140736315888520
<class 'int'>

In [70]:
x=0o1007
print(x)
print(bin(x))
print(id(x))
print(type(x))

519
0b1000000111
2039304400304
<class 'int'>

In [72]:
x=0x1007  # hexa Dicimal Data
print(x)
print(id(x))
print(type(x))

4103
2039304401872
<class 'int'>

In [73]:
x=0x1007  
print(x)
print(hex(x))    # conver into hexa Decimal
print(id(x))
print(type(x))

4103
0x1007
2039304404080
<class 'int'>

In [74]:
x=0x1007  
print(x)
print("binary",bin(x))
print("octal",oct(x))
print("hexaDecimal",hex(x))
print(id(x))
print(type(x))

4103
binary 0b1000000000111
octal 0o10007
hexaDecimal 0x1007
2039304400304
<class 'int'>

In [83]:
    x=6.8            # float
    print(x)
    print(id(x))        # address of variable
    print(type(x))           # type of varible class

6.8
2039299353616
<class 'float'>

In [89]:
x = 6+6j         # {complexe Number} 
print(x)
print(x.real,x.imag)   # always give float value
print(type(x.real),type (x.imag))
print(id(x))
print(type(x))

(6+6j)
6.0 6.0
<class 'float'> <class 'float'>
2039304404048
<class 'complex'>

In [91]:
x=True   # boolean datatype(True/false)
print(x)
print(id(x))
print(type(x))

True
140736314419744
<class 'bool'>

In [92]:
str="Ankush Gupta"   #string Declaration  
print(str)
print(id(str))
print(type(str))

Ankush Gupta
2039305450032
<class 'str'>

In [93]:
str='Ankush Gupta'  #string Declaration
print(str)
print(id(str))
print(type(str))

Ankush Gupta
2039299879472
<class 'str'>

In [94]:
str='''Ankush Gupta'''  #string Declaration
print(str)
print(id(str))
print(type(str))

Ankush Gupta
2039305679408
<class 'str'>

In [96]:
str="""Ankush Gupta"""  #string Declaration
print(str)
print(id(str))
print(type(str))

Ankush Gupta
2039305550896
<class 'str'>

In [97]:
str="""I    
LOVE
MY
INDIA """  # Only Triple comma  allows you To write for new line without error}

print(str)

I
LOVE
MY
INDIA

In [100]:
 # str="I LOVE INDIA"
 #   print(str)    # here Indentation Error  

 str="I LOVE INDIA"   # here is Not Indentation Error
 print(str)

I LOVE INDIA

In [7]:
#  simpleinterest find from user
p=int(input("Enter principle Amount : "))
y=int(input("Enter  which is requir Amount For year : "))
r=int(input("Enter interest : "))
si=(p*y*r)/100
print("The Simple Interest is : ",si)

Enter principle Amount : 1000
Enter  which is requir Amount For year : 1
Enter interest : 1
The Simple Interest is :  10.0

In [8]:
x=8.5            # typecating 
print(type(x))
y=int(x)
print(type(y))

<class 'float'>
<class 'int'>

In [11]:
import math
print(math.floor(x))
print(type(math.floor(x)))
print(int(x))
print(type(int(x)))

8
<class 'int'>
8
<class 'int'>

In [18]:
x=3.2    # use of math.floor (It ound Down of float value)
print(math.floor(x))  # math.floor decrease in positive fraction value  
y=3.6
print(math.floor(y))

a=-3.2                 # math.floor increase in negative fraction value
print(math.floor(a))    
b=-3.6
print(math.floor(b))

3
3
-4
-4

In [21]:
x="11"  # Declaration in string 
print(x)
print(type(x))
print(int(x))       # compiler can convert into integer 
print(type(int(x)))

#x="11.66"               # This string coompiler can not be convert into integer but convert into float
#x="Ankush Gupta"                 # This string coompiler can not be convert into integer

11
<class 'str'>
11
<class 'int'>

In [24]:
# bolean  variable
x=True
print(type(x))
print(int(x))
print(type(int(x)))

<class 'bool'>
1
<class 'int'>

In [35]:
# complexe Number 
x=3+6j
print(x)
print(type(x))

# print(int(x))            # complexe Nummber can not be change into integer
# print(type(int(x)))

(3+6j)
<class 'complex'>

In [37]:
# float variable
x=8.5
print(x)
print(type(x))
print(int(x))       # float can be change into integer
print(type(int(x)))

8.5
<class 'float'>
8
<class 'int'>

In [39]:
# boolean data type
x=True
print(x)
print(type(x))
print(float(x))       # boolean can be change into integer
print(type(float(x)))

True
<class 'bool'>
1.0
<class 'float'>

In [45]:
x="11.66"
print(x)
print(type(x))     
print(float(x))       # string can be convert into float    
print(type(float(x)))     

# x=3.4+3.4j    # complexe Number can not be convert into float

11.66
<class 'str'>
11.66
<class 'float'>

In [47]:
x=7
print(x)
print(type(x))
print(complex(x))    # integer can be convert into complex
print(type(complex(x)))

7
<class 'int'>
(7+0j)
<class 'complex'>

In [48]:
x=7.5
print(x)
print(type(x))
print(complex(x))        # float can be convert into complex
print(type(complex(x)))

7.5
<class 'float'>
(7.5+0j)
<class 'complex'>

In [49]:
x=True
print(x)
print(type(x))
print(complex(x))     # boolean can be convert into complex
print(type(complex(x)))

True
<class 'bool'>
(1+0j)
<class 'complex'>

In [55]:
x="55"
print(x)
print(type(x))
y=complex(x)    # y variable assign complex Number
print(y)
print(type(y))
print(y.real,y.imag)
print(type(y.real),type(y.imag))

55
<class 'str'>
(55+0j)
<class 'complex'>
55.0 0.0
<class 'float'> <class 'float'>

In [56]:
# boolean typecasting
x=1              # ever number give true but 0 give false
print(x)
print(type(x))
print(bool(x))
print(type(bool(x)))

1
<class 'int'>
True
<class 'bool'>

In [58]:
x=0
print(x)
print(type(x))
print(bool(x))
print(type(bool(x)))

0
<class 'int'>
False
<class 'bool'>

In [60]:
x=-134     
print(x)
print(type(x))
print(bool(x))     
print(type(bool(x)))

-134
<class 'int'>
True
<class 'bool'>

In [61]:
x=11.55 
print(x)
print(type(x))
print(bool(x))     
print(type(bool(x)))

11.55
<class 'float'>
True
<class 'bool'>

In [62]:
x="11.55"
print(x)
print(type(x))
print(bool(x))     
print(type(bool(x)))

11.55
<class 'str'>
True
<class 'bool'>

In [63]:
x="0"
print(x)
print(type(x))
print(bool(x))     
print(type(bool(x)))

0
<class 'str'>
True
<class 'bool'>

In [66]:
x="ANKUSH GUPTA"    # boolean allows to convert into bool(true) throught string
print(x)
print(type(x))
print(bool(x))     
print(type(bool(x)))

ANKUSH GUPTA
<class 'str'>
True
<class 'bool'>

In [2]:
# string typecasting

x=85    # x is integer
print(x)
print(type(x))
print(str(x))    # convert into string
print(type(str(x)))

85
<class 'int'>
85
<class 'str'>

In [68]:
x=88+74j
print(x)
print(type(x))
print(str(x))
print(type(str(x)))
print()

(88+74j)

In [34]:
# Queation no.1) write s progrsm to calculet area of circle data should be taken from user but the value 
#   of pi(3.14) should be take by import math ? 

# Queation no. 2) write a program to calculate the area of triale length of side should be giving by 
#    user and find sqrt() by import math 


# ------------------XXX------------------------------XXX----------------------------------------XXX---------------------------
# First program 

import math
r=float(input("Enter radious of Circle  :"))

# p=print(math.pi)    we can not assign value of pi

print("The Area of circle : ",((math.pi)*r*r))


#------------------XXXX----------------------------------XXXX----------------------------------------XXXX_---------------------
#second program

import math
a=int(input("Enter length of the side one :"))
b=int(input("Enter length of the side two :"))
c=int(input("Enter length of the side Third :"))
s=(a+b+c)/2
print("The Average of all side :",s)
print("The Area of Triangle :",(math.sqrt(s*(s-a)*(s-b)*(s-c))))

Enter radious of Circle  :10
The Area of circle :  314.1592653589793
Enter length of the side one :8
Enter length of the side two :3
Enter length of the side Third :9
The Average of all side : 10.0
The Area of Triangle : 11.832159566199232

In [36]:
# frozen set  # forzenset is mutable
s={1,2,3,4,5}
print(s)
print(type(s))
f=frozenset(s)  # after frozenset defind we can not change anything in set 
print(f)
print(type(f))

{1, 2, 3, 4, 5}
<class 'set'>
frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [37]:
# Dictionary 
d={1:"ankush",2:"Gupta",}
print(d)
print(id(d))
print(type(d))

{1: 'ankush', 2: 'Gupta'}
1374402947648
<class 'dict'>

In [38]:
# Dictionary 
d={"A":"ankush","G":"Gupta",}
print(d)
print(id(d))
print(type(d))

{'A': 'ankush', 'G': 'Gupta'}
1374403137280
<class 'dict'>

In [39]:
# Dictionary  # Dictionary is immutable (It can be change)
d={1:"ankush",2:"Gupta","N":[9,9]}
print(d)
print(id(d))
print(type(d))

{1: 'ankush', 2: 'Gupta', 'N': [9, 9]}
1376535966400
<class 'dict'>

In [45]:
# Dictionary 
d={1:"ankush",2:"Gupta","N":[9,9]}
print(d)
print(id(d))
print(type(d))
print()
print(d[1])
print(d[2])

{1: 'ankush', 2: 'Gupta', 'N': [9, 9]}
1374403371200
<class 'dict'>

ankush
Gupta

In [48]:
print(d)
d[1]="Gupta"
print(d)

{1: 'Gupta', 2: 'Gupta', 'N': [9, 9]}
{1: 'Gupta', 2: 'Gupta', 'N': [9, 9]}

In [49]:
print(d)
print(id(d))
print(type(d))
print()
print(d[1])
print(d[2])

{1: 'Gupta', 2: 'Gupta', 'N': [9, 9]}
1374403371200
<class 'dict'>

Gupta
Gupta

In [50]:
x=7  # int float is immutable  
print(id(x))
y=7
print(id(y))
x=99
print(id(x))

140736156308456
140736156308456
140736156311400

In [51]:
l=[8,7,0]
print(l)
print(id(l))
l.append(88)
print(l)
print(id(l))

[8, 7, 0]
1374402542656
[8, 7, 0, 88]
1374402542656

In [53]:
x=None
print(x)
print(id(x))
print(type(x))   
x=99

None
140736154921712
<class 'NoneType'>
99
140736156311400

In [54]:
chr(65)  # unicode

'A'

In [56]:
ord("G")

71

In [59]:
chr(0)

'\x00'

In [66]:
print("\N{grinning face}")

😀

In [68]:
for i in range(0,20):
    print(i)

0
2
4
6
8
10
12
14
16
18

In [69]:
for i in range(0,20,2):
    print(i)

0
2
4
6
8
10
12
14
16
18