In [15]:
# List concept    # List is mutable (we can add anotherr string throught append)

x=[10,20,30,40,50]  # List can be also Empty   
print(x)
print(id(x))
print(type(x))

[10, 20, 30, 40, 50]
2154020722240
<class 'list'>

In [2]:
x=[10,"Ankush Gupta",20,True,66.22]   # List allows To add all Type of data
print(x)
print(id(x))
print(type(x))

[10, 'Ankush Gupta', 20, True, 66.22]
2154006588672
<class 'list'>

In [3]:
x=[10,["Ankush","Gupta"],20,[30,40,50]]   # List allows To add all Type of data
print(x)
print(id(x))
print(type(x))

[10, ['Ankush', 'Gupta'], 20, [30, 40, 50]]
2154006588544
<class 'list'>

In [4]:
x=[[[1,2],[3,4]],[["a","b"]]]
print(x)
print(id(x))
print(type(x))

[[[1, 2], [3, 4]], [['a', 'b']]]
2154006692928
<class 'list'>

In [6]:
x=[[[1,2],[3,4]],[["a","b"]]]   # nested index can be posible
print(x[0])

[[1, 2], [3, 4]]

In [7]:
x=[[[1,2],[3,4]],[["a","b"]]]      # nested index can be posile
print(x[1])

[['a', 'b']]

In [8]:
str="Ankush Gupta" # nested  string(index) can not be posible
print(str[2])

k

In [9]:
print(x)
x.append(" I Love My India")    # append concatenats(add) another string or list anything 
print(x)

[[[1, 2], [3, 4]], [['a', 'b']]]
[[[1, 2], [3, 4]], [['a', 'b']], ' I Love My India']

In [18]:
# concept of Touple    Touple is immutable but List is Not Mutable
x=("ankush",10,20,"Gupta")
print(x[0])

x[0]="I Love My India"
print(x)

ankush

TypeError: 'tuple' object does not support item assignment

In [19]:
# set     # odder does not exit in set and set is muteble we add throught add(common)
s={1,2,3,4,5}
print(s)
print(id(s))
print(type(s))

{1, 2, 3, 4, 5}
2154020588672
<class 'set'>

In [20]:
# set  # odder does not exit in set and set is muteble we add throught add(common)
p={1,2,3,4,5}
print(p)
print(id(p))
print(type(p))

{1, 2, 3, 4, 5}
2154020589344
<class 'set'>

In [21]:
s={1,1,3,3,2,4,5}
print(s)

{1, 2, 3, 4, 5}

In [24]:
print(s)
s.add{10,20}
print(s)

SyntaxError: invalid syntax (218638513.py, line 2)