In [19]:
# Earthmating operators
x=20
y=2 
print("additional operator :",x+y)   
print("Substraction operator  :",x-y)  
print("multyfication operator :",x*y)   
print("Divission operator  :",x/y)     # always give float value
print("Divission in integer operator  :",x//y) 
print("Modulus operator  :",x%y)  
print("power of 2nd operance operator  :",x**y)

additional operator : 22
Substraction operator  : 18
multyfication operator : 40
Divission operator  : 10.0
Divission in integer operator  : 10
Modulus operator  : 0
power of 2nd operance operator  : 400

In [18]:
str1="Ankush "
str2="Gupta "
print(str1+str2)

print(str1*5)
print(str2*5)

"I Love My India , " *5
# print("I Love My India \n "*5)

Ankush Gupta
Ankush Ankush Ankush Ankush Ankush
Gupta Gupta Gupta Gupta Gupta
I Love My India
 I Love My India
 I Love My India
 I Love My India
 I Love My India

In [24]:
print(30/4)
print(30//4) # it give floor(round Down) value in integer
print(30.6//4)  # it give floor(round Down) value in float because one value is float 
print(30.6//4.2)  # it give floor(round Down) value in float because both value are float

7.5
7
7.0
7.0

In [34]:
print(66%6)
print(66.7%6)
print(66%6.5)
print(-66%6)   # remender always give positive bcz one value is possitive
print(-67%6)
print(66%-6)
print(-67%-6)    # remender is nagetive bcz both value are nagetive
print(-66.45%6)

0
0.7000000000000028
1.0
0
5
0
-1
5.549999999999997

In [37]:
# Relation operator(comperision operator)  [ "<" , ">" , "==", "!=" ]
a=44
b=6
print(a<b)    # Relation operator always Give in boolean(True/False)
print(a<=b) 
print(a>b)
print(a>=b)
print(a==b)
print(a!=b)

False
False
True
True
False
True

In [40]:
a="n"    # if charactor so we use [ord("n")] This fuction eithor chr(5) 
b="m"
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)
print(a==b)
print(a!=b)

False
False
True
True
False
True

In [41]:
a="Ankush"    
b="ankush"
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)
print(a==b)
print(a!=b)

True
True
False
False
False
True

In [42]:
a="Ankush"    
b="Ankush"
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)
print(a==b)
print(a!=b)

False
True
False
True
True
False

In [43]:
a="Ankush"    
b="AnkushGupta"
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)
print(a==b)
print(a!=b)

True
True
False
False
False
True

In [46]:
a="Ankush"    
b=10        # comperision operator does not allows 
print(a<b)
print(a<=b)
print(a>b)
print(a>=b)

TypeError: '<' not supported between instances of 'str' and 'int'

In [47]:
a="Ankush"    #  comperission operetor allows for these two operator
b=10
print(a==b)
print(a!=b)

False
True

In [54]:
print(1<2<3<4<5)
5>4>3>2>1

True

True

In [57]:
x=1
y=2
z=3
x<y<z
# print(x<y<z)

True

In [58]:
# Logicle operators ( and operator)
print(True and True)
print(True and False)
print(False and False)
print(True and False)
print(True and False)

True
False
False
False
False

In [61]:
# Logicle operator of ( or operator )
print(True or True)
print(True or False)
print(False or False)
print(True or False)
print(True or False)

True
True
False
True
True

In [60]:
print(not True)
print(not False)

False
True

In [63]:
x=3
y=6
print(x and y)        
print(x or y)

6
3

In [64]:
x=0
y=6
print(x and y)        
print(x or y)

0
6

In [65]:
x=6
y=0
print(x and y)       # 
print(x or y)

0
6

In [68]:
5<10>15<33

False

In [69]:

5<10<15<33

True

In [70]:
"Red"and"white"   # Fisrt value is true so by Default  second value of variable  prints , bcz of 'and' operator

'white'

In [71]:
 "Red"or"white"

'Red'

In [75]:
# assignment operetor [ "-=" , "+=" , '*=']
x=66
print(x)
x+=2
print(x)
x-=2
print(x)

66
68
66

In [76]:
a,b,c = 10 , 20, 40
print(a)
print(b)
print(c)

10
20
40

In [79]:
# swaping varible
a=10
b=20
print(a)
print(b)
a,b = b,a
print("After value swwping ")
print(a)
print(b)

10
20
After value swwping
20
10

In [86]:
# Task 
# 1) write a program to remove the last digit from a giving number ?

x=int(input("Enter You Number :"))
print("After removing last digit :",(x//10))

Enter You Number :24154
After removing last digit : 2415

In [87]:
# Task
# 2) write a program to get last digit from a given number ?

x=int(input("Enter You Number :"))
print("Last Digit of a Number",x%10)

Enter You Number :44524
Last Digit of a Number 4

In [2]:
# Task
# 3) wrie  a program which takes a three number from the user and display only its first digit ?

x=int(input("Enter You Number :"))
print("First Digit is :",x//100)

Enter You Number :988
First Digit is : 9

In [33]:
# Task
# 4) write  a program which takes thre digit number from thr user and display only middle digit ?

x=int(input("Enter You Number :"))
y=x//10
print("The middle digit is ",y%10)
print()

# This programe is also solve From This Kind.

A=int(input("Enter You Number :"))
print((x//10)%10)

Enter You Number :456
The middle digit is  5

Enter You Number :456
5

In [34]:
# Task
# 5) write a program to swap a data of two varibles ?

x=int(input("Enter First value  :"))
y=int(input("Enter Second value  :"))
Temp=x
x=y
y=Temp
print("After swaping value of X variable :",x)
print("After swaping value of Y variable :",y)
print()

# This program is also solve From This kind.

a=int(input("Enter First value  :"))
b=int(input("Enter Second value  :"))
a=a+b

b=a-b
a=a-b
print("After swaping value of X variable :",a)
print("After swaping value of Y variable :",b)

Enter First value  :10
Enter Second value  :20
After swaping value of X variable : 20
After swaping value of Y variable : 10

Enter First value  :10
Enter Second value  :20
After swaping value of X variable : 20
After swaping value of Y variable : 10

In [30]:
for i in range(1,5):
    for j in range(1,5):
        print(" ANKUSH " * i)
    print()

 ANKUSH
 ANKUSH
 ANKUSH
 ANKUSH

 ANKUSH  ANKUSH
 ANKUSH  ANKUSH
 ANKUSH  ANKUSH
 ANKUSH  ANKUSH

 ANKUSH  ANKUSH  ANKUSH
 ANKUSH  ANKUSH  ANKUSH
 ANKUSH  ANKUSH  ANKUSH
 ANKUSH  ANKUSH  ANKUSH

 ANKUSH  ANKUSH  ANKUSH  ANKUSH
 ANKUSH  ANKUSH  ANKUSH  ANKUSH
 ANKUSH  ANKUSH  ANKUSH  ANKUSH
 ANKUSH  ANKUSH  ANKUSH  ANKUSH

In [31]:
for i in range(1,5):
    for j in range(1,5):
        print(" ANKUSH " * j)
    print()

 ANKUSH
 ANKUSH  ANKUSH
 ANKUSH  ANKUSH  ANKUSH
 ANKUSH  ANKUSH  ANKUSH  ANKUSH

 ANKUSH
 ANKUSH  ANKUSH
 ANKUSH  ANKUSH  ANKUSH
 ANKUSH  ANKUSH  ANKUSH  ANKUSH

 ANKUSH
 ANKUSH  ANKUSH
 ANKUSH  ANKUSH  ANKUSH
 ANKUSH  ANKUSH  ANKUSH  ANKUSH

 ANKUSH
 ANKUSH  ANKUSH
 ANKUSH  ANKUSH  ANKUSH
 ANKUSH  ANKUSH  ANKUSH  ANKUSH

In [38]:
# Bitwise operator

print(4 & 5)    # 4 and 5 convert into binary[(100 & 101)=100] The answer
                    # is binary 100 than convert into Simple Number it that's (4)

print(4 | 5)    # 4 and 5 convert into binary[(100 & 101)=101] The answer
                      # is binary 101 than convert into Simple Number it that's (5)

4
5

In [40]:
# identity operator

a=5
b=5
print(id(a))
print(id(b))
a is b

140736400036776
140736400036776

True

In [41]:
# identity operator

a=5
b=6
print(id(a))
print(id(b))
a is b

140736400036776
140736400036808

False

In [43]:
a=[10,20,"Ankush","Gupta"]  # on  List
b=[10,20,"Ankush","Gupta"]
print(a)
print(id(a))
print()
print(b)
print(id(b))
print()
a is b

[10, 20, 'Ankush', 'Gupta']
1775359294848

[10, 20, 'Ankush', 'Gupta']
1775359130176

False

In [44]:
# on string apply identity opeerator
a="Ankush"
b="Ankush"
print(a)
print(b)
a is b

Ankush
Ankush

True

In [45]:
# on Touple
a=(10,20,"Ankush","Gupta")  
b=(10,20,"Ankush","Gupta")
print(a)
print(id(a))
print()
print(b)
print(id(b))
print()
a is b

(10, 20, 'Ankush', 'Gupta')
1775359313936

(10, 20, 'Ankush', 'Gupta')
1775359315616

False

In [48]:
# in operator

print("G" in "Ankush Gupta")
print("A" in "Ankush Gupta")
print("B" in "Ankush Gupta")

True
True
False

In [49]:
for i in "Ankush Gupta":
    print(i)

A
n
k
u
s
h

G
u
p
t
a

In [53]:
# 1) Write a program to print true if the string entered by the user is contening 'py'.

str=input("Enter your string")
print("py" in str)

Enter your stringgdtygcpy
True

In [61]:
# 2) write a program to input two string from user and display whether the two variables are same or not.

str1=input("Enter your First string :")
str2=input("Enter your second string :")
print(str1 is str2)
if(str1 in str2):
    print("YES")

Enter your First string :ankushgupta
Enter your second string :ankushgupta
False
YES

In [63]:
# 3) write a program to input five integer from the users integers and execute this expresion
#                crossponding to the number entered by the users check the output ?
a=int(input("Enter First value :"))
b=int(input("Enter second value :"))
c=int(input("Enter Third value :"))
d=int(input("Enter Forth value :"))
e=int(input("Enter Five value :"))
print("All value is :",a,b,c,d,e)

Enter First value :10
Enter second value :20
Enter Third value :30
Enter Forth value :40
Enter Five value :50
All value is : 10 20 30 40 50