# concept of set

In [2]:
 s={}   # It called by Default Dictionary ?
print(s)
print(type(s))

{}
<class 'dict'>

In [5]:
s=set()  # set can be defind this kind and but actual loot it s={}
print(s)
print(type(s))

set()
<class 'set'>

In [17]:
s1={"ankush","gupta","aman","mahesh"}
s2={"anil","animesh","manaly"}
#  s1+s2  # it can not be possible for the set datatype bcz set of order less
s1.add("ramesg")
# s2.add("manoj","suman") Two argument can not be add 
s1

TypeError: set.add() takes exactly one argument (2 given)

In [20]:
s1={1,2,4,6,8}
s2={3,5,7,2}
print(s1,s2) # This is possible

{1, 2, 4, 6, 8} {2, 3, 5, 7}

In [13]:
# many fuction of set.

s1={1,2,4,6,8}
s2={3,5,7,2,4,6,8}
s1=s1.union(s2) # union() fuction is use to print unique digit in set 
print(s1)

{1, 2, 3, 4, 5, 6, 7, 8}

In [11]:
s1={1,2,4,6,8}
s2={3,5,7,2,4,6,8}
s1=s1.intersection(s2) # interswction function display common digit 
print(s1)

{8, 2, 4, 6}

In [18]:
s1={1,2,4,6,8}
s2={3,5,7,2,4,6,8}
s3=s1.difference(s2)    # difference() fuction use to print which is not same to other value
print(s3)

{1}

In [41]:
# issuperset()

s1={"ankush","gupta"}
s2={"ankush","gupta"}
s3=s2.issuperset(s1)   # issuperset() display set function is same or not 
print(s3)

True

In [35]:
s1={"ankush","gupta"}
s2={"anju","gupta"}  # isdisjoint() display true if all value of set is different .
s3=s1.isdisjoint(s2)
s3

False

In [47]:
s1={"ankush","gupta"}
s2={"ankush","gupta","aman","remesh"}
s3=s1.issubset(s2)   # issubset() display if s1 set is subset of s2 
s3

True

In [64]:
s2={"ankush","gupta","aman","remesh"}
s2.discard("aman")
#  s3=discard("aman")  we can not declare through this kind 
print(s2)

{'remesh', 'gupta', 'ankush'}

In [126]:
# output of set ?
x={ i  for i in range(1,11) if i%2==0}
print(x)

{2, 4, 6, 8, 10}

In [125]:
# output of set ?
x={ i+1  for i in range(1,11) if i%2==0}
print(x)

{3, 5, 7, 9, 11}

In [130]:
x={ i for i in input().split()}
print(x)

ankush gupta
{'gupta', 'ankush'}

In [127]:
x={ i for i in input()}
print(x)

ankush gupta
{'p', ' ', 't', 'g', 'h', 'a', 's', 'k', 'u', 'n'}

# some concept of Dictionary .

In [66]:
s={}
print(s)
print(type(s))

{}
<class 'dict'>

In [70]:
s={"a":"ankush","b":"gupta","c":"nikhil","d":"aman"}
print(s)
s1=s.keys()  # key() displays all keyword 
print(s1)  
s2=s.values()  # values() displays all value of keyward
print(s2)
s3=s.items()   # items() displays all item of the Dictionary 
print(s3)

{'a': 'ankush', 'b': 'gupta', 'c': 'nikhil', 'd': 'aman'}
dict_keys(['a', 'b', 'c', 'd'])
dict_values(['ankush', 'gupta', 'nikhil', 'aman'])
dict_items([('a', 'ankush'), ('b', 'gupta'), ('c', 'nikhil'), ('d', 'aman')])

In [89]:
keys of Dictionary print ?

s={"a":"ankush","b":"gupta","c":"nikhil","d":"aman","e":"mahesh"}
for keys  in s.keys():
    print(keys)
    
print()
print()
for i in s.keys():    # above and this example both are same
    print(i)

a
b
c
d
e


a
b
c
d
e

In [91]:
# value of Dictonary print ?

s={"a":"ankush","b":"gupta","c":"nikhil","d":"aman"}
for values in s.values():
    print(values) # above example and this both are same 
    
print()
print()
for i in s.values():
    print(i)

ankush
gupta
nikhil
aman


ankush
gupta
nikhil
aman

In [97]:
# 
s={"a":"ankush","b":"gupta","c":"nikhil","d":"aman"}
for values in s.keys(): 
    print(values,s[values])

a ankush
b gupta
c nikhil
d aman

In [102]:
# 
s={"a":"ankush","b":"gupta","c":"nikhil","d":"aman"}
for values in s.values():   # this is a wrong way 
    print(s[values])

KeyError: 'ankush'

In [101]:
# 
s={"a":"ankush","b":"gupta","c":"nikhil","d":"aman"}
for values in s:   # this is a also right but not proper right  
    print(s[values])

ankush
gupta
nikhil
aman

In [106]:
# Loop with keys and his value both are present ?

s={"a":"ankush","b":"gupta","c":"nikhil","d":"aman"}
for i in s:
    print("The keys is ",i,"  and his value is  ",s[i])

The keys is  a   and his value is   ankush
The keys is  b   and his value is   gupta
The keys is  c   and his value is   nikhil
The keys is  d   and his value is   aman

In [110]:
# input of Dictionary using update() fucntion ?

d={}
for i in range(1,5):
    k=input()
    v=input()
    d.update({k:v})
print("The Dictionary is :",d)

a
ankush
b
gupta
c
aman
d
ramesh
The Dictionary is : {'a': 'ankush', 'b': 'gupta', 'c': 'aman', 'd': 'ramesh'}

In [112]:
# Output of Different kind ?

x=[i for i in range(1,11) if i%2==0]
print(x)

[2, 4, 6, 8, 10]

In [131]:
# Output of Different kind ?

x=[i+1 for i in range(1,11) if i%2==0]
print(x)

[3, 5, 7, 9, 11]

In [121]:
# Different way of Output 

x=[i for i in input().split()]
print(x)

print()
print()

x=[i for i in input()]
print(x)

ankush gupta
['ankush', 'gupta']


ankush
['a', 'n', 'k', 'u', 's', 'h']

In [116]:
# out put 

x=[x for i in input().split()]
print(x)

ankush gupta
[['ankush', 'gupta'], ['ankush', 'gupta']]