In [5]:
# basic input 
n=input("Enter number :")
print(n)
print(type(n))
m=int(n)
print(m)
print(type(m))

Enter number :33
33
<class 'str'>
33
<class 'int'>

In [7]:
#  if three Numbr input ?
a=input("Enter number :")
b=input("Enter number :")
c=input("Enter number :")
print()
# EITHER second way 
print("Enter Three Number :")
for i in range(0,3):
    input()

Enter number :11
Enter number :11
Enter number :11

Enter Three Number :
22
22
22

In [9]:
# 
n=input("Enter numbers :").split()   # Convert into list in the respect of space .
print(n)
print(type(n))

Enter numbers :12 23 43 43 22
['12', '23', '43', '43', '22']
<class 'list'>

In [ ]:
#

In [12]:
# 
x,y=input("Enter two number :").split()
print(int(x),int(y))
print(type(x),type(y))

Enter two number :12 23
12 23
<class 'str'> <class 'str'>

In [15]:
# integer value Two value ? 
x,y=[int(i) for i in input("ente a number :").split()]
print(x,y)
print(x+y)

ente a number :12 45
12 45
57

In [14]:
#  string value Two value  ?
x,y=[i for i in input("ente a number :").split()] 
print(x,y)

ente a number :12 23
12 23

In [17]:
# integer value Many values ? 
y=[int(i) for i in input("ente  numbers :").split()]
print(y)

ente  numbers :2 3 4 5 6
[2, 3, 4, 5, 6]

In [21]:
# Find a average of number ?
res=0
y=[int(i) for i in input("ente  numbers :").split()]
num=len(y)
for i in y:
    res+=i
print(res/num)

# Either second way ?

print()
y=[int(i) for i in input("ente  numbers :").split()]
print(sum(y)/len(y))

ente  numbers :2 2 3 3
2.5

ente  numbers :3 4 5 6
4.5

# Many format of Output

In [22]:
# this is a wrong way .
name=input("enter name :")
age=int(input("ente age :"))
weight =float(input("enter weight :"))

print("This is name :\nThis is name :\nThis is name : ",name,age,weight)

enter name :22
ente age :22
enter weight :22
This is name :
This is name :
This is name :  22 22 22.0

In [26]:
# this is a Right way and it done with the help of format function .
name=input("enter name :")
age=int(input("ente age :"))
weight =float(input("enter weight :"))
print()

print("This is name : {} \nThis is age : {} \n This is weight : {} ".format(name,age,weight))

enter name :ankush gupta
ente age :18
enter weight :60

This is name : ankush gupta
This is age : 18
 This is weight : 60.0

In [31]:
# 
name="ankush gupta"
age=18
weight=60
print()
print("This is name : {} \nThis is age : {} \n This is weight : {} ".format(name,age,weight))
print()
print("This is name :%s  \nThis is age :%d \n This is weight :%f "% (name,age,weight))
print()
print("This is name :%s  \nThis is age :%i \n This is weight :%f "% (name,age,weight))

# i-->int 
#
#
#

This is name : ankush gupta
This is age : 18
 This is weight : 60

This is name :ankush gupta
This is age :18
 This is weight :60.000000

This is name :ankush gupta
This is age :18
 This is weight :60.000000

In [40]:
x=90.748365928374587452547849575475674674
print("this is flaot value :{}".format(x))

this is flaot value :90.74836592837458

In [41]:
x=90.748365928374587452547849575475674674
print("this is flaot value :{:f}".format(x))

this is flaot value :90.748366

In [46]:
x=12345678.123456789123456789
print("this is flaot value :{:8.3f}".format(x))
print("this is flaot value :{:8.5f}".format(x))
print("this is flaot value :{:8.6f}".format(x))
print("this is flaot value :{:8.7f}".format(x))
print("this is flaot value :{:8.8f}".format(x))
print("this is flaot value :{:8.9f}".format(x))

this is flaot value :12345678.123
this is flaot value :12345678.12346
this is flaot value :12345678.123457
this is flaot value :12345678.1234568
this is flaot value :12345678.12345679
this is flaot value :12345678.123456789

In [47]:
# list also works on the format output .
x=[10,20,30,40,50]
print("the list is :{}".format(x))

# Touple , Dictionary ,set all work on format output .

the list is :[10, 20, 30, 40, 50]

In [48]:
# It is a another way to take output
name ="ankush gupta"
age=35
weight=66.6
print( f "My name {name}. My age {age} and weight is {weight}" )

My name ankush gupta. My age 35 and weight is 66.6

# Function

In [49]:
# concept of Fuction ?
# keyword is a reserved word [predefind word in python] .
# [Reusibility of code ] its a most significienced of Function ?
# defination --> its Block of code it use again & again when you call it.

# simple program of function Empty argument  ?

def add():     # No argument
    a=int(input("Enter 1st number :"))
    b=int(input("Enter 2nd number :"))
    print("sum of numbr :",a+b)
    
    
add()        # calling of Function

Enter 1st number :20
Enter 2nd number :20
sum of numbr : 40

In [57]:
# simple function of throught argument ?

def function(a,b):      
    print("sum of numbr :",a+b)
    print("inside fuction ")
    
    
    
print("outside fuction")
n=5
m=10
function(m,n)

outside fuction
sum of numbr : 15
inside fuction

In [58]:
# simple function of throught argument ?

def function(a,b):
    print("inside function")
    return a+b    # return value( after calculetion value gives x variable)


print("outside function")
a=10
b=10
x=function(a,b)   # calling value ?
print(x)

outside function
inside function
20

In [ ]:
# function two time ?

# pre defind function 
# user defind function