# predefind Function in string Feture .

In [22]:
# append() function

s=[10,20,30,"ankush"]  # List 
s.append("gupta")
print(s)

[10, 20, 30, 'ankush', 'gupta']

In [23]:
# append() function

s=[10,20,30,"ankush"]
t=(40,50,60)    # List can be append to the Touple 
s.append(t)
print(s)

[10, 20, 30, 'ankush', (40, 50, 60)]

In [27]:
# extend() Function 
s=[10,20,30,"ankush"]
t=[40,50,60]
s.extend(t)  #extend Funtion insert another eliment throught indivisualy 
print(s)

[10, 20, 30, 'ankush', 40, 50, 60]

In [28]:
# extend() Fuction (add Touple or set)
s=[10,20,30,"ankush"]
t=(40,50,60)  
s.extend(t)  # can be also insert Touple
print(s)

[10, 20, 30, 'ankush', 40, 50, 60]

In [26]:
# insert() Function ( Take Two argument )
s=[10,20,30,"ankush"]
s.insert(2,"Gupta")  # insert Fuction is insert on particuler index  
print(s)

[10, 20, 'Gupta', 30, 'ankush']

In [25]:
# index() Fuction 

s=[10,20,30,"ankush"]
s.index(20)   # it Give index of argument .
print(s)

[10, 20, 30, 'ankush']

In [37]:
### remove Function( Take one argument and remove one eliment at one time )

s=[10,20,30,"ankush"] 
s.remove("ankush") # it take one argument(Eliment Name) and removes eliment which is sent throught argument .
print(s)

[10, 20, 30]

In [38]:
### Pop() Fuction (Take one index Througt argument)

s=[10,20,30,"ankush"] 
s.pop(3)    # it removes eliment of particuler index 
print(s)

[10, 20, 30]

In [39]:
### sort() Fuction 

n=[10,40,20,50,30,7,90,80] 
n.sort()   # (incresing order) sort() applied only Homogenious eliment
print(n)

[7, 10, 20, 30, 40, 50, 80, 90]

In [43]:
#   sort() Fuction 

n=[10,40,20,50,30,7,90,80]
n.sort(reverse=True)  # Desending order 
print(n)

[90, 80, 50, 40, 30, 20, 10, 7]

# List aliasing

In [46]:
# List aliasing (acject To copy)

# Case 1
n=[10,40,20,50,30,7,90,80]
m=n    #(m and n point same address ) n assign in m [m takes same address]
print(n)
print(id(n))
print(type(n))
print(m)
print(id(m))
print(type(m))

print()
m.append(555)
print()

print(n)
print(id(n))
print(type(n))
print(m)
print(id(m))
print(type(m))

[10, 40, 20, 50, 30, 7, 90, 80]
2482519682816
<class 'list'>
[10, 40, 20, 50, 30, 7, 90, 80]
2482519682816
<class 'list'>


[10, 40, 20, 50, 30, 7, 90, 80, 555]
2482519682816
<class 'list'>
[10, 40, 20, 50, 30, 7, 90, 80, 555]
2482519682816
<class 'list'>

In [47]:
# List aliasing

# Case 2
n=[10,40,20,50,30,7,90,80]
m=n            #( m and n take same address ) m assign in n [ also n takes same address]
print(n)
print(id(n))
print(type(n))
print(m)
print(id(m))
print(type(m))

print()
n.append(555)
print()

print(n)
print(id(n))
print(type(n))
print(m)
print(id(m))
print(type(m))

[10, 40, 20, 50, 30, 7, 90, 80]
2482519540928
<class 'list'>
[10, 40, 20, 50, 30, 7, 90, 80]
2482519540928
<class 'list'>


[10, 40, 20, 50, 30, 7, 90, 80, 555]
2482519540928
<class 'list'>
[10, 40, 20, 50, 30, 7, 90, 80, 555]
2482519540928
<class 'list'>

# cloning

In [ ]:
# cloning

# Case 1
n=[10,40,20,50,30,7,90,80]
m=n[:]    # (m and n point To anthor address ) n assign in m [m takes Diffrend address]
print(n)
print(id(n))
print(type(n))
print(m)
print(id(m))
print(type(m))

print()
m.append(555)
print()

print(n)
print(id(n))
print(type(n))
print(m)
print(id(m))
print(type(m))

In [ ]:
# cloning

# Case 2
n=[10,40,20,50,30,7,90,80]
m=n[:]            #(m and n point anothoer address ) m assign in n [ also n Takes Diffrent address]
print(n)
print(id(n))
print(type(n))
print(m)
print(id(m))
print(type(m))

print()
n.append(555)
print()

print(n)
print(id(n))
print(type(n))
print(m)
print(id(m))
print(type(m))

# operator perform advanced datatype

In [50]:
# operator perform only same datatype [But can not be possible in Diffrent datatype].

x=[10,20,30,40,50]
y=[60,70,80,90,100]
print(x+y)      
print(x*2)  
# print(x*y) # it can not possible

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 10, 20, 30, 40, 50]

In [54]:
x=[10,20,30,40,50]
y=[60,70,80,90,100]
print(x==y)

False

In [55]:
x=[10,20,30,40,50]
y=[10,20,30,40,50]
print(x==y)

True

In [56]:
x=[10,20,30,40,50]
y=[10,20,30,40,"50"]
print(x==y)

False

In [57]:
x=[10,20,30,40,50]
y=[60,70,80,90,100]
print(x>y)

False

In [60]:
x=[10,20,30,40,50]
y=[60,70,80,90,100]
print(x<y)

True

In [62]:
x=[10,20,30,40,50]
y=[10,20,30,40,100]
print(x>=y)

False

In [65]:
x=[10,20,30,40,50]
y=[10,20,30,40,50]
print(x>=y)

True

In [66]:
x=["10","20","30","40","50"]
y=["10","20","30","40","50"]
print(x>=y)

True

In [67]:
x=[10,20,30,40,50]
y=[10,20,30,40]
print(x>=y)     # by Default it gives False

True

In [68]:
x=[10,20,30,40,50]
y=[10,20,30,40]
print(x<=y)     # by Default it gives False

False

In [72]:
## Nested List

s=[[[1,2,3],[4,5,6]],[[10,20,30],[40,50,60]]]
print(s[0])
print(s[1])

[[1, 2, 3], [4, 5, 6]]
[[10, 20, 30], [40, 50, 60]]

# For making List

In [77]:
# For making List throught Users.
# 1st Method

x=[]
n=int(input())
for i in range(n):
    x.append(input())
print("List is :",x)

5
10
20
30
40
50
List is : ['10', '20', '30', '40', '50']

In [78]:
# 2nd method of List comprehension

x=[x for x in range(1,6)]
print(x)

[1, 2, 3, 4, 5]

In [79]:
# we can use 

x=[x for x in range(1,11) if x%2==0]
print(x)

[2, 4, 6, 8, 10]

In [80]:
# we can use

x=[i for i in range(1,11) if i%2==0]
print(x)

[2, 4, 6, 8, 10]

# Touple concept

In [3]:
# Touple concept

tup=(1,2,2,2,2,2,2,"ankush","gupta")
print(tup.index(2))  # it Give only first index

1

In [4]:
# addition of touple
x=(10,20)
y=(30,40)
print(x+y)

(10, 20, 30, 40)

# tuple packing and unpacking

In [5]:
x=1,2,3,4,"ankush","gupta"  # it Take By Default Touple
print(x)     
print(type(x))

(1, 2, 3, 4, 'ankush', 'gupta')
<class 'tuple'>

In [8]:
### Touple packing

t=1,2,3,4,5   # Touple packing
a,b,c,d,e=t
print(type(t))
print(a,b,c,d,e)
print()
print(a)
print(b)
print(c)
print(d)
print(e)

<class 'tuple'>
1 2 3 4 5

1
2
3
4
5

In [11]:
t=1,2,3,4,5,"ankush"   # Touple packing
a,b,c,d,e,f=t
print(type(t))
print(a,b,c,d,e,f)
print()
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print("ankush is type :",type(f))

<class 'tuple'>
1 2 3 4 5 ankush

1
2
3
4
5
ankush
ankush is type : <class 'str'>

In [12]:
x=(i for i in range(1,11))  #  Touple comprehension is Not possible in Touple 
print(x)

<generator object <genexpr> at 0x0000013E2648C520>

# set function

In [13]:
# set={} Set Fucntion is Mutable[ it has many Fuction for Modification ]
s1={}
print(s1)  # we can not make empty set [ by Default empty set is called  Dictionary] 
print(type(s1))

{}
<class 'dict'>

In [15]:
p={1,2,3,4,6}
q={4,9,1,0,5}
print(p.intersection(q)) 
print(p.union(q))
print(p.difference(q))
print()
p.add("Sistec")
print(p)

{1, 4}
{0, 1, 2, 3, 4, 5, 6, 9}
{2, 3, 6}

{'Sistec', 1, 2, 3, 4, 6}

In [18]:
# set comprehension is Possible 

x={ i for i in range(1,11)}
print(x)

x={ i for i in range(1,11) if i%2==0}
print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 4, 6, 8, 10}

In [21]:
 # also possible

x={ i+1 for i in range(1,11) if i%2==0}
print(x)

{3, 5, 7, 9, 11}

In [22]:
 # also possible

x={ i**2 for i in range(1,11) if i%2==0}
print(x)

{64, 100, 4, 36, 16}

# Dictionary

In [31]:
# dictionary
d={1:"ankush",2:"gupta"}
print(d)
print(d[1])   # indexing is possible but in Form of key whitch is defind in Dictionary List
print(d[2])
print(type(d))

{1: 'ankush', 2: 'gupta'}
ankush
gupta
<class 'dict'>

# Function of Dictionary

In [40]:
d={1:"ankush",2:"gupta",3:"Madhuri",4:"gupta"}
print(d)
print(type(d))
print(d.keys())  # keys() is use to prints all Keys, whitch is defind in Dictionary List

{1: 'ankush', 2: 'gupta', 3: 'Madhuri', 4: 'gupta'}
<class 'dict'>
dict_keys([1, 2, 3, 4])

In [39]:
d={1:"ankush",2:"gupta",3:"Madhuri",4:"gupta"}
print(d)
print(type(d))
print(d.values())   # values() is use to prints all values , whitch is defind in Dictionary List
print(type(d.values()))

{1: 'ankush', 2: 'gupta', 3: 'Madhuri', 4: 'gupta'}
<class 'dict'>
dict_values(['ankush', 'gupta', 'Madhuri', 'gupta'])
<class 'dict_values'>

In [42]:
d={1:"ankush",2:"gupta",3:"Madhuri",4:"gupta"}
print(d)
print(type(d))   
print(d.items())   # items() is use to prints all items , whitch is defind in Dictionary List

{1: 'ankush', 2: 'gupta', 3: 'Madhuri', 4: 'gupta'}
<class 'dict'>
dict_items([(1, 'ankush'), (2, 'gupta'), (3, 'Madhuri'), (4, 'gupta')])

In [47]:
d={1:"ankush",2:"gupta",3:"Madhuri",4:"gupta"}
print(d)
print(type(d)) 
d.pop(1)    # pop() eliminate value 
print(d)

{1: 'ankush', 2: 'gupta', 3: 'Madhuri', 4: 'gupta'}
<class 'dict'>
{2: 'gupta', 3: 'Madhuri', 4: 'gupta'}

In [48]:
d={1:"ankush",2:"gupta",3:"Madhuri",4:"gupta"}
print(d)
print(type(d)) 
d.clear()  # it delet all items .
print(d)

{1: 'ankush', 2: 'gupta', 3: 'Madhuri', 4: 'gupta'}
<class 'dict'>
{}

In [50]:
# List can not be convert into Dictionary .

# l=["ankush","gupta"]
# d=dict(l)

In [55]:
d=({1:"ankush",2:"gupta"})
print(d)

{1: 'ankush', 2: 'gupta'}

In [57]:
# Nesting is Possible in Dictionary

d=({1:{"a":"ankush"},2:{"b":"gupta"}})
print(d)

{1: {'a': 'ankush'}, 2: {'b': 'gupta'}}